body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

header * {
    margin: 0 10px 0 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 4px 0 4px 0;
}

header a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

header .title {
    font-size: 24px;
}

.content {
    padding: 32px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    position: absolute;
    display: block;
    width: 170px;
    height: auto;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content > * {
    padding: 15px 20px;
    margin: 0;
}

.dropdown-content > *:hover {
    background-color: #eeeeee;
}

.dropdown-content a {
    font-size: 16px;
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

#account-dropdown-closer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.text-danger {
    color: red;
}

.question {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #dddddd;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.question h1 {
    font-size: 20px;
    margin: 0;
}

.question p {
    font-size: 16px;
    margin: 10px 0 0 0;
}

.question .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question .interactions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.question .interactions * {
    margin-right: 10px;
}

.question .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

.question .author img {
    width: 50px;
    margin-right: 10px;
}