body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

header * {
    margin: 0 10px 0 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 4px 0 4px 0;
}

header a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

header .title {
    font-size: 24px;
}

.content {
    margin: auto;
    width: 1000px;
    padding: 32px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    position: absolute;
    display: block;
    width: 170px;
    height: auto;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content > * {
    padding: 15px 20px;
    margin: 0;
}

.dropdown-content > *:hover {
    background-color: #eeeeee;
}

.dropdown-content a {
    font-size: 16px;
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

#account-dropdown-closer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.text-danger {
    color: red !important;
}

.text-success {
    color: green !important;
}

.text-liked {
    color: blue !important;
}

.question {
    margin: 30px auto;
    width: 100%;
    max-width: 800px;
    background-color: #dddddd;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.question h1 {
    font-size: 20px;
    margin: 0;
}

.question p {
    font-size: 16px;
    margin: 10px 0 0 0;
}

.question .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question .interactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.question .interactions * {
    margin: 10px 10px 0 0;
    color: black;
    text-decoration: none;
}

.question .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

.question .author img {
    width: 50px;
    margin-right: 10px;
}

.question .answers {
    margin: 20px;
    background-color: #EEEEEE;
    box-sizing: border-box;
    padding: 20px;
}

.question .answers .answer {
    background-color: #DDDDDD;
    margin: 20px 0;
    box-sizing: border-box;
    padding: 20px;
}

.reactions {
    display: flex;
    flex-direction: row;
}

.answer-interactions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.question .answers p {
    margin: 0;
}

.answer-interactions * {
    margin-right: 5px;
}

.ask-question {
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ask-question * {
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.ask-question textarea {
    height: 100px;
}

.ask-question input[type="submit"] {
    height: 40px;
}

.profile-image {
    width: 200px;
}

form {
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
}

form h2 {
    margin: 0 0 20px 0;
}

form input {
    margin: 5px 0;
    height: 40px;
    font-size: 16px;
}

form input:not([type="submit"]) {
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 8px;
    border: #DDDDDD solid 1px;
}

form input[type="submit"] {
    border-radius: 20px;
    border: none;
    transition: .2s;
    cursor: pointer;
}

form input[type="submit"]:hover {
    transform: scale(1.03);
    background-color: #CCCCCC;
}

form input[type="submit"]:active {
    transform: scale(0.97);
    background-color: #EEEEEE;
}

form p {
    margin: 0 0 5px 0;
}