form method="post" action="/account/login/"
    input type="text" name="login_name" placeholder="Username or Email"
    input type="password" name="password" placeholder="Password"
    input type="submit" value="Login"